*{
    padding: 0px;
    margin: 0px;
}

.jumbotron{
    background-color: #16a085;
    color: white;
    padding: 70px 30px 70px 30px;
    align-content: center
}

.row-content{
    padding: 50px 0px;
    border-bottom: 1px ridge 
}

footer{
    background-color: #55efc4;
}

body{
    padding:50px 0px 0px 0px;
	z-index:0;
}
	
.navbar-dark {
    background-color: #00cec9;
}
    

