*{
    padding: 0px;
    margin: 0px;
}

.jumbotron{
    background-color: #16a085;
    color: white;
    padding: 70px 30px 70px 30px;
    align-content: center
}

.row-content{
    padding: 50px 0px;
    border-bottom: 1px ridge; 
    min-height: 400px;
}

.footer{
    background-color: #55efc4;
}

body{
    padding:50px 0px 0px 0px;
	z-index:0;
}
	
.navbar-dark {
    background-color: #00cec9;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background:#16a085;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
}


.modal-content{
    background-color: #FB9F6C;
    padding: 30px ;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #000;
}   

#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

